*{
  font-family: Arial;
}
.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid #dedede;
}
.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.right-section {
  flex: 1fr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin-right: 20px;
  flex-shrink: 0;
}
.notifications-icon-container{
  position: relative;
}
.notifications-count{
  position: absolute;
  background-color: rgb(200, 0, 0);
  color: white;
  top: -2px;
  right: -5px;
  padding: 2px 5px;
  font-family: Roboto , Arial;
  font-size: 10px;
  border-radius: 10px;
}
.hamburger-menu {
  height: 24px;
  margin: 0px 24px;
}
.youtube-logo {
  height: 20px;
}

.search-btn {
  position: relative;
  height: 40px;
  width: 64px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}
.search-btn , 
.voice-btn,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.search-btn .tooltip ,
.voice-btn .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
  position: absolute;
  bottom: -30px;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-btn:hover .tooltip,
.voice-btn:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip
{
  opacity: 1;
}
.voice-btn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}
.voice-icon {
  height: 24px;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 0px 1px 2px #eeeeee;
  width: 0;
}

.search-bar::placeholder {
  font-family: roboto, arial;
  font-size: 16px;
}

.search-img {
  height: 24px;
}

.upload-icon {
  height: 24px;
}
.youtube-apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.my-channel-icon {
  height: 32px;
  border-radius: 16px;
}
